<html>
    <head>
        <title>Madonna - Mydonationapp</title>
    </head>
    <body>
        <div>
            <h1>Privacy Policy</h1>
            <p>published: 12.25.2016, 12:25</p>
            <h4><a href="">Download Madonna at Google play store</a></h4>

            <p> 

            ① You may be asked to provide your personal information anytime you are in contact with Madonna or a Madonna affiliated company ("Company" thereafter). Company may share this personal information with each other and use it consistent with this Privacy Policy. They may also combine it with other information to provide and improve our products, services, content, and advertising that Company provides ("Service" thereafter). </p>

            <p> 

            ② Company's Privacy Policy contains agenda as below.</p>

            <h5>1. What Company collect for personal information</h5>

            <h5>2. Why Company collect personal information</h5>

            <h5>3. How Company collect personal information</h5>

            <h5>4. How Company use service provider to protect personal information</h5>

            <h5>5. How Company use or disclose personal information to 3rd parties</h5>

            <h5>6. How long Company retain and delete personal information</h5>

            <h5>7. How You can access and modify personal information</h5>

            <h5>8. What You should do</h5>

            <h5>9. Link site</h5>

            <h5>10. How Company protect personal information</h5>

            <h5>11. How You can contact us</h5>

            <h5>12. How Company notifies You for Privacy Policy</h5>
            
            <h4><a href="">Download Madonna at Google play store</a></h4>

        </div>

        <div>
            <h2>1. What Company collect for personal information</h2>
                <p>① Company collects minimum amount of personal information to provide Service to You.</p>

                <p>■ Basic Information</p>

                <p>- E-mail address, Advertising ID, Unique Device Identifier, Information You provide when signing up </p>

                <p>■ Additional Information collected during Service use or processing</p>

                <p>- Service use log, log-in log, cookie, IP address,  abusing record, etc.</p>
        </div>

        <div>
            <h2>2. Why Company collect personal information</h2>
                <p>① Personal information we collect allows us to keep you posted on Madonna’s latest product announcements, updates, and upcoming events. If you don’t want to be on our mailing list, you can opt out anytime by updating your preferences. We also use personal information to help us create, develop, operate, deliver, and improve our products, services, content and advertising, and for loss prevention and anti-fraud purposes. We may use your personal information, including year of birth, to verify identity, assist with identification of users, and to determine appropriate services. From time to time, we may use your personal information to send important notices, such as communications about purchases and changes to our terms, conditions, and policies. We may also use personal information for internal purposes such as auditing, data analysis, and research to improve Madonna’s products, services, and customer communications.</p>

                <p>② You are not required to provide personal information that we have requested, but, if you chose not to do so, in many cases we will not be able to provide you with our products or services or respond to any queries you may have.</p>

                <p>③ All Your personal information will not be used for other purposes and in case that Company changes purposes of collecting personal information, Company will request consent prior to using it.</p>
        </div>
        <div>
            <h2>3. How Company collect personal information</h2>
            <p>Company collect personal information using method as mentioned below.</p>

            <p>- Service Enrollment</p>

            <p>- Written Document</p>

            <p>- Event</p>

            <p>- Legitimate Disclosure by Partners</p>

            <p>- Log Analysis Program</p>

            <p>- Cookie</p>

            <p>- Device</p>
        </div>
        <div>
            <h2>4. How Company use service provider to protect personal information</h2>
            <p>① Madonna can share personal information with companies who provide services such as information processing, extending credit, fulfilling customer orders, delivering products to you, managing and enhancing customer data, providing customer service, assessing your interest in our products and services, and conducting customer research or satisfaction surveys. These companies are obligated to protect your information</p>
        </div>
        <div>
            <h2>5. How Company use or disclose personal information to 3rd parties</h2>
            <p>① At times Madonna may make certain personal information available to 3rd parties that work with Madonna to provide Service. Personal information will only be shared by Madonna to provide or improve our products, services and advertising; it will not be shared with 3rd parties for their marketing purposes.</p>

            <p>② However, personal information can be disclosed to 3rd parties for purposes other than mentioned at Article 5 Clause 1 due to below reasons</p>

            <p>- Consent of disclosure by You</p>

            <p>- By law, legal process, litigation, and/or requests from public and governmental authorities within or outside Your country of residence</p>

            <p>- Business transfer of Company to 3rd parties (Separate prior notification will be held)</p>

            <p>③ You can request withdraw of consent on disclosure of personal information via below contact. However, in case that withdrawal occurs, You will not be able to access to benefits provided by 3rd parties.</p>

            <p>- Webpage : <a href="">http://mydonationapp.xyz</a></p>

            <p>- E-mail : <a href="">madonna.desk@gmail.com</a></p>
        </div>
        <div>
            <h2>6. How long Company retain and delete personal information</h2>
            <p>① Company will retain your personal information for the period necessary to fulfill the purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by law.</p>
        </div>
        <div>
            <h2>7. How You can access and modify personal information</h2>
            <p>① Company makes it easy for you to keep your personal information accurate, complete, and up to date. You can help ensure that Your contact information and preferences are accurate, complete, and up to date by logging in Service or sending e-mail to <a href="">madonna.desk@gmail.com</a> </p>

            <p>② Company understand the importance of taking extra precautions to protect the privacy and safety of children using Service. Children under the age of 3, or equivalent minimum age in the relevant jurisdiction, are not permitted to sign up Service, unless their parent provided verifiable consent. If we learn that we have collected the personal information of a child under 3, or equivalent minimum age depending on jurisdiction, outside the above circumstances we will take steps to delete the information as soon as possible.</p>
        </div>
        <div>
            <h2>8. What You should do</h2>
            <p>① You have obligation to protect your personal information by yourself. To the case that You intentionally or inadvertently leaks Your personal information, Company is not legally obliged.</p>

            <p>② You also have obligation not to breach Privacy Policy on other people. Your code of conduct should comply with governing law in your residence.</p>
        </div>
        <div>
            <h2>9. Link site</h2>
            <p>① Company websites and Service may contain links to 3rd-party websites, products, and services. Our Service may also use or offer products or services from 3rd parties. Information collected by 3rd parties, which may include such things as location data or contact details, is governed by their privacy practices. We encourage you to learn about the privacy practices of those 3rd parties.</p>
        </div>
        <div>
            <h2>10. How Company protect personal information</h2>
            <p>① Company uses commercially reasonable efforts to the best of its ability, with integrity to protect Your personal information with technical support as below. However, Company shall not be liable for its failure to protect Your personal information by reason of a “Force Majeure Event”, which is defined as any event beyond the control of such Party, including, but not limited to, intrusion by hackers or newly developed viruses.</p>

            <p>② Company uses ID, password, encryption algorithm, vaccine program, and so on to protect Your personal information.</p>

            <p>③ To make sure your personal information is secure, we communicate our privacy and security guidelines to Madonna employees and strictly enforce privacy safeguards within the Company.</p>
        </div>
        <div>
            <h2>11. How You can contact us</h2>
            <p>① You can contact Company easiliy via below e-mail on Privacy-related matters.</p>

            <p>- E-mail : <a href="">madonna.desk@gmail.com</a></p>

            <p>- Webpage : <a href="">http://mydonationapp.xyz</a></p>


        </div>
        <div>
            <h2>12. How Company notifies You for Privacy Policy</h2>
            <p>① Company notifies You for Privacy Policy on Company website. As revision or modification occurs from time to time, please constantly check when you visit website.</p>
        </div>
        <div>

            <p>Copyright © 2016 by Madonna All rights reserved.</p>
        </div>




    </body>
</html>